<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Quester</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  
  
  <script type="module">
    
    //const blizzard = require('blizzard.js').initialize({ apikey: "eukzkp99e87djznr4s5ppgu6vgs5cgwp" });
    //import {blizzard} from './server/router';
    //import {findCharacter} from './server/models/Domo.js';
    // toggle character content display
    /*
    function display(id) {
      console.log(id);
      var content = document.getElementById(id);
      
      if(content.style.display === "none"){
        content.style.display = "block";

      }else{
        content.style.display = "none";
      }
    };*/


    // handle saved character selection
    function radioClick(){
      var radios = document.getElementsByName('radio');

      for (var i = 0, length = radios.length; i < length; i++){
        if (radios[i].checked){
          var radioValue = $("input[name='radio']:checked").val();
          console.log(radioValue);
          var radioId = $("input[name='radio']:checked").attr('id');
          console.log(radioId);
          setupCharacter(radioId, radioValue);
          break;
        }
      };
    };

    function setupCharacter(name, realm){
        const characterData = getCharacter(name, realm);
        console.dir(characterData);


    };

    function getCharacter(name, realm){
      //const blizzard = require('blizzard.js').initialize({ apikey: "eukzkp99e87djznr4s5ppgu6vgs5cgwp" });
      //const results = blizzard.wow.character(['profile'], { origin: 'us', realm: realm , name: name });
      const search = findCharacter(name, realm);
      console.dir(search);
      search.then(response => {
        res.writeHead(200, { "Content-Type": "application/json"});
        //stringify json for HTTP  
        res.write(JSON.stringify(response.data));
        //send response to client
        res.end();
        
        return JSON.stringify(response.data);
      });
      //search.then(() => res.json({redirect: '/maker'}));

      //catch errors thrown from blizzard api call
      search.catch((err) => {
          console.log(err);
          res.writeHead(400, { "Content-Type": "application/json"});
          res.write(JSON.stringify(response));
          res.end();
          return res.status(400).json({ error: 'an error has occured' });
      });
    };
  </script>
</head>
<body>
  <nav id="navbar">
    <ul>
      <li><a href="/login"><img id="logo" src="/assets/img/face.png" alt="logo"/>
        <!--<p class="title">Quester</p></a>-->
        </li> 
      <li><div class="navlink"><a href="/logout">Log out</a></div></li>
      <li><div class="navlink"><a href="#changePassModal">Change Password</a></div></li>
    </ul>
    
  </nav>
  <section id="content"></section>
  <div class="outerFlex">
    <div id="changePassModal" class="overlay">
      <div id="changePassContent" class="popup">
        

      </div>
    </div>
    <div id="characters" class="innerFlex">
    <section id="domos">

    </section>
    <section id="addCharacter">

    </section>
  </div>
  <section id="characterInfo" class="innerFlex">
    <div id="characterInfoNav" method="POST">
      
      <button class="innerNav" id="overviewBtn1">Overview</button>
      <button class="innerNav" id="overviewBtn2">Raid Progression</button>
      <button class="innerNav" id="overviewBtn3">PVP</button>
      
      
    </div>
    <div id="characterInfoContent">
      
      <!--

      <div id="overview" style="display: none;" class="characterInfoContainer">
        <img src="http://render-us.worldofwarcraft.com/character/{{this.icon}}" alt="domo face" class="domoFace"/>
        <h1 class="characterName {{search.class}}">{{search.name}}</h1>
        {{#if domos}}
        
        {{#each domos}}

          <li class="character">
            <div class="imgDiv">
              <img src="http://render-us.worldofwarcraft.com/character/{{this.icon}}" alt="domo face" class="domoFace"/>
            </div>
            <div class="textDiv">
              <h3 class="characterName {{this.class}}">{{this.name}}<input onclick="radioClick()" type="radio" name="radio" id={{this.name}} value={{this.age}} ></h3>
              <h3 class="characterLevel">{{this.age}}</h3>
            </div>
          </li>
        {{/each}}
        
      {{else}}

      {{/if}}
      </div>
      <div id="raid" style="display: none;" class="characterInfoContainer">
        <img src="http://render-us.worldofwarcraft.com/character/{{this.icon}}" alt="domo face" class="domoFace"/>
        <h1 class="characterName {{search.class}}">{{search.name}}</h1>

      </div>
      <div id="pvp" style="display: none;" class="characterInfoContainer">
        <img src="http://render-us.worldofwarcraft.com/character/{{this.icon}}" alt="domo face" class="domoFace"/>
        <h1 class="characterName {{search.class}}">{{search.name}}</h1>

      </div>-->
    </div>
  </section>
  </div>


  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>